.place__link{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-align: left;    
}
.place__link:hover{
    opacity: 0.8;
    cursor: pointer;
}