.footer{
    margin: 92px auto 0;
    padding-bottom: 24px;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
    .footer{
        padding: 0 48px;
    }
}
@media screen and (max-width: 768px) {
    .footer{
        padding: 0 24px;
    }
}
@media screen and (max-width: 650px) {
    .footer{
        margin: 64px auto 0;
        padding: 0 16px;
        flex-direction: column;
        
    }
}